@using AvadaRestaurantFinal.Models
@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-Menu">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/page22x.jpg" alt="">
    </div>
    <div class="Section1-TextSide-Menu">
        <h6>BEST TABLE IN TOWN</h6>
        <div class="Section1-TeamAndButtonFlex-Menu">
            <h1>Our Seasonal Menu</h1>
            <a asp-controller="Takeout" asp-action="index">
                <div class="Section1-Button-Menu">
                    <span>VIEW TAKEOUT MENU</span>
                    <i class="fa-solid fa-car"></i>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>
    <div class="Section2-Menu">
        <div class="Section2-Title-Menu">

            <i class="">Hors d’oeuvres</i>    
            <div class="Section2-Line-Menu"></div>
        </div>
        <div class="Section2-ForFlex-menu">

            @foreach (var item in Model)
            {
                if (item.CategoryId ==1)
                {
                    <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">
                        <div class="Section2-ProductCard-Menu">
                            <img src="~/img/@item.ImageUrl" alt="">
                            <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                                <h6>@item.Name</h6>
                                <span>$@item.Price</span>

                            </div>
                            <p>
                                @item.DescriptionFront
                            </p>

                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->
<section>
    @*<img src="~/img/page72x.jpg" alt="">*@
        

    
    
    <div class="owl-carousel owl-carousel-1">
        @foreach (var item in Model)
        {
            if (item.CategoryId == 1)
            {
        <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">

            <div class="Section3-Menu">
                <img style="object-fit:cover;" height="450px"  src="~/img/@item.ImageUrl" alt="Alternate Text" />

                <div class="Section3-TextSide-Menu">
                    <span>@item.Name</span>
                </div>

            </div>
        </a>


                }
            }
        </div>
</section>
<!-- Section 3 End -->
<!-- Section 4 Start -->
<section>
    <div class="Section4-Menu">
        <div class="Section4-Title-Menu">
            <i class="">Main Course</i>
            <div class="Section4-Line-Menu"></div>
        </div>
        <div class="Section4-ForFlex-Menu">
            @foreach (var item in Model)
            {
                if (item.CategoryId == 2)
                {
                    <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">
                        <div class="Section4-ProductCard-Menu">
                            <img src="~/img/@item.ImageUrl" alt="">
                            <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                                <h6>@item.Name</h6>
                                <span>$@item.Price</span>

                            </div>
                            <p>
                                @item.DescriptionFront
                            </p>

                        </div>
                    </a>
                }
            }


        </div>
    </div>
</section>
<!-- Section 4 End -->
<!-- Section 5 Start -->
<section>
    @*<div class="Section5-Menu">
            <img src="~/img/page82x.jpg" alt="">
            <div class="Section5-TextSide-Menu">
                <span>MAPLE MOUSE WITH CHICKPEAS - $22</span>
            </div>
        </div>*@

    <div class="owl-carousel owl-carousel-2">
        @foreach (var item in Model)
        {
            if (item.CategoryId == 2)
            {
                <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">

                    <div class="Section5-Menu">
                        <img style="object-fit:cover;" height="450px" src="~/img/@item.ImageUrl" alt="Alternate Text" />

                        <div class="Section5-TextSide-Menu">
                            <span>@item.Name</span>
                        </div>

                    </div>
                </a>


            }
        }
    </div>
</section>
<!-- Section 5 End -->
<!-- Section 6 Start -->
<section>
    <div class="Section6-Menu">
        <div class="Section6-Title-Menu">
            <i class="">Dessert & Coffee</i>
            <div class="Section6-Line-Menu"></div>
        </div>
        <div class="Section6-ForFlex-menu">
            @foreach (var item in Model)
            {
                if (item.CategoryId ==3)
                {
                    <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">
                        <div class="Section6-ProductCard-Menu">
                            <img style="object-fit: contain;" src="~/img/@item.ImageUrl" alt="">
                            <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                                <h6>@item.Name</h6>
                                <span>$@item.Price</span>

                            </div>
                            <p>
                                @item.DescriptionFront
                            </p>

                        </div>
                    </a>
                }
            }


        </div>
    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    @*<div class="Section7-Menu">
        <img src="~/img/hero62x.jpg" alt="">
        <div class="Section7-TextSide-Menu">
            <span>BLACK PUDDING - $25</span>
        </div>
    </div>*@

    <div class="owl-carousel owl-carousel-3">
        @foreach (var item in Model)
        {
            if (item.CategoryId == 3)
            {
                <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">

                    <div class="Section7-Menu">
                        <img style="object-fit:cover;" height="450px" src="~/img/@item.ImageUrl" alt="Alternate Text" />

                        <div class="Section7-TextSide-Menu">
                            <span>@item.Name</span>
                        </div>

                    </div>
                </a>


            }
        }
    </div>
</section>
<!-- Section 7 End -->
<!-- Section 8 Start -->
<section>
    <div class="Section8-Menu">
        <div class="Section8-Title-Menu">
            <i class="">Drinks & Cocktails</i>
            <div class="Section8-Line-Menu"></div>
        </div>
        <div class="Section8-ForFlex-menu">
            @foreach (var item in Model)
            {
                if (item.CategoryId == 4)
                {
                    <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">
                        <div class="Section8-ProductCard-Menu">
                            <img src="~/img/@item.ImageUrl" alt="">
                            <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                                <h6>@item.Name</h6>
                                <span>$@item.Price</span>

                            </div>
                            <p>
                                @item.DescriptionFront
                            </p>

                        </div>
                    </a>
                }
            }


        </div>
    </div>
</section>
<!-- Section 8 End -->
