@using AvadaRestaurantFinal.ViewModels
@model MenuVM
@{
    ViewData["Title"] = "Index";
}

<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-Menu">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/page22x.jpg" alt="">
    </div>
    <div class="Section1-TextSide-Menu">
        <h6>BEST TABLE IN TOWN</h6>
        <div class="Section1-TeamAndButtonFlex-Menu">
            <h1>Our Seasonal Menu</h1>
            <div class="Section1-Button-Menu">
                <span>VIEW TAKEOUT MENU</span>
                <i class="fa-solid fa-car"></i>
            </div>
        </div>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>
    <div class="Section2-Menu">
        <div class="Section2-Title-Menu">

            <i class="">Hors d’oeuvres</i>    
            <div class="Section2-Line-Menu"></div>
        </div>
        <div class="Section2-ForFlex-menu">

            @foreach (var item in Model.horsDoeuvresProduct)
            {
                <div class="Section2-ProductCard-Menu">
                    <img src="~/img/@item.ImageUrl" alt="">
                    <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                        <h6>@item.Name</h6>
                        <span>$@item.Price</span>

                    </div>
                    <p>
                        @item.DescriptionFront
                    </p>

                </div>
            }
        </div>
    </div>
</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->
<section>
    <div class="Section3-Menu">
        <img src="~/img/page72x.jpg" alt="">
        <div class="Section3-TextSide-Menu">
            <span>BLACK PUDDING - $25</span>
        </div>
    </div>
</section>
<!-- Section 3 End -->
<!-- Section 4 Start -->
<section>
    <div class="Section4-Menu">
        <div class="Section4-Title-Menu">
            <i class="">Main Course</i>
            <div class="Section4-Line-Menu"></div>
        </div>
        <div class="Section4-ForFlex-Menu">
            @foreach (var item in Model.MainCourseProducts)
            {
                <div class="Section4-ProductCard-Menu">
                    <img src="~/img/@item.ImageUrl" alt="">
                    <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                        <h6>@item.Name</h6>
                        <span>$@item.Price</span>

                    </div>
                    <p>
                        @item.DescriptionFront
                    </p>

                </div>
            }


        </div>
    </div>
</section>
<!-- Section 4 End -->
<!-- Section 5 Start -->
<section>
    <div class="Section5-Menu">
        <img src="~/img/page82x.jpg" alt="">
        <div class="Section5-TextSide-Menu">
            <span>MAPLE MOUSE WITH CHICKPEAS - $22</span>
        </div>
    </div>
</section>
<!-- Section 5 End -->
<!-- Section 6 Start -->
<section>
    <div class="Section6-Menu">
        <div class="Section6-Title-Menu">
            <i class="">Dessert & Coffee</i>
            <div class="Section6-Line-Menu"></div>
        </div>
        <div class="Section6-ForFlex-menu">
            @foreach (var item in Model.DessertCoffeeProducts)
            {
                <div class="Section6-ProductCard-Menu">
                    <img src="~/img/@item.ImageUrl" alt="">
                    <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                        <h6>@item.Name</h6>
                        <span>$@item.Price</span>

                    </div>
                    <p>
                        @item.DescriptionFront
                    </p>

                </div>
            }


        </div>
    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    <div class="Section7-Menu">
        <img src="~/img/hero62x.jpg" alt="">
        <div class="Section7-TextSide-Menu">
            <span>BLACK PUDDING - $25</span>
        </div>
    </div>
</section>
<!-- Section 7 End -->
<!-- Section 8 Start -->
<section>
    <div class="Section8-Menu">
        <div class="Section8-Title-Menu">
            <i class="">Drinks & Cocktails</i>
            <div class="Section8-Line-Menu"></div>
        </div>
        <div class="Section8-ForFlex-menu">
            @foreach (var item in Model.DrinksCocktailsProducts)
            {
                <div class="Section8-ProductCard-Menu">
                    <img src="~/img/@item.ImageUrl" alt="">
                    <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                        <h6>@item.Name</h6>
                        <span>$@item.Price</span>

                    </div>
                    <p>
                        @item.DescriptionFront
                    </p>

                </div>
            }


        </div>
    </div>
</section>
<!-- Section 8 End -->
