@using AvadaRestaurantFinal.ViewModels
@model TeamVM
@{
    ViewData["Title"] = "Index";
}
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>

</div>
<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-Team">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/@Model.TeamHeader.ImageUrl" alt="">
    </div>
    <div class="Section1-TextSide-Team">
        <h6>@Model.TeamHeader.Header</h6>
        <h1>@Model.TeamHeader.Name</h1>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>
    <div class="Section2-ForFlex-Team" @*style="margin-bottom: 12%;"*@>

        @foreach (var item in Model.MembersTeam)
        {
            <div style="margin-bottom: 11%;" class="Section2-ImageAndTextSideFlex-Team">
                <img src="~/img/@item.ImageUrl" alt="">
                <div class="Section2-TextSide-Team">
                    <h6>@item.profession</h6>
                    <h2>@item.Name</h2>
                    <div class="Section2-vl1-Team"></div>
                    <p class="Section2-TextSide-Description-Team">
                        @item.Description
                    </p>
                    <i class="Section2-TextSideUnderHeader-Team">@item.UnderDescriptionText</i>
                    <div class="Section2-vl2-Team"></div>
                    <div class="Section2-ForFlexStartsAndText-Team">
                        <i class="fa-solid fa-star"></i>
                        <p>World’s 50 best chefs list 2019</p>
                    </div>
                    <div class="Section2-ForFlexStartsAndText-Team">
                        <i class="fa-solid fa-star"></i>
                        <p>2 Stars On The Michelin Guide 2017</p>
                    </div>
                </div>


            </div>
        }

    </div>
</section>
<!-- Section 2 End -->
