@using AvadaRestaurantFinal.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Index";
}
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
   
</div>


@if (TempData["Success"] != null)
{

    <div id="popup1" class="popup center">
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>

        <div class="title">Success!!</div>

        <div class="description">
            @TempData["Success"]
        </div>

        <div class="dismiss-btn">
            <button onclick="porupRemove()" id="dismiss-popup-btn">
                Dismiss
            </button>
        </div>
    </div>
}

<!-- Section 1 Start -->
<section class="section1-homePage">
    <div class="section1-TextSide-homePage">
        <div data-aos="fade-right" class="section1-ForMargin-homePage">
            <div class="line-and-Text-homePage">
                <div class="line-and-Text_line-homePage"></div>
                <div class="line-and-Text_Text-homePage">
                    @Model.fineDiningExperience.Header
                </div>
            </div>
            <div style="margin-left: 16%;">
                <div class="section1-Find-Dining-Experience-homePage">
                    <p>FINE</p>
                    <p>DINING</p>
                    <p>EXPERIENCE</p>
                </div>
                <div class="section1-Text3-homePage">
                    <p>
                        @Model.fineDiningExperience.Description
                    </p>
                </div>
                <div class="Buy-Avada-homePage">
                    <a asp-controller="Menu" asp-action="index">
                        <span>@Model.fineDiningExperience.ButtonText</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-homePage"></div>

</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>

    <div data-aos="fade-down">
        <div class="Section2-homePage">

            <div class="Section2-TextSide-homePage">
                <div class="Section2-TextSide-1-homePage">
                    <span>
                        @Model.foodIsOurCommon.Desciription1
                    </span>
                </div>
                <div class="Section2-TextSide-2-homePage">
                    <span>
                        @Model.foodIsOurCommon.Desciription2
                    </span>
                </div>
                <div class="Section2-TextSide-3-homePage">
                    <p>
                        @Model.foodIsOurCommon.Desciription3
                    </p>
                </div>
                <div class="Section2-TextSide-4Img-homePage">
                    <img style="margin-top: 40px;" width="180" height="154" src="~/img/@Model.foodIsOurCommon.ImageUrlSignature" alt="">
                </div>
            </div>
            <div class="Section2-ImageSide-homePage">
                <a href="https://localhost:44306/Menu/ProductDetail/13">
                    <img width="523" height="715" src="~/img/@Model.foodIsOurCommon.ImageUrl" alt="">
                    <b>CALIFORNIA ROLLS - $22</b>
                </a>
            </div>
        </div>
    </div>


</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->

<section>
    <div class="Section3-ForFlex1-homePage">
        <div class="Section3-ProductCard-homePage">
            <img width="96" height="96" src="https://img.icons8.com/fluency-systems-regular/96/000000/sushi.png" />
            <h2>The best table in town</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section3-Line-homePage">
            <p>
                Sed aenean egestas ut aliquam
                turpis mauris, molestie. Vitae tellus
                tempor sem id tempus neque, tellus
                turpis turpis. Morbi tortor id gravida
                aliquet.
            </p>
            <a asp-controller="Menu" asp-action="index">
                <span style="color:black;">
                    EXPLORE THE MENU
                </span>
            </a>
        </div>
        <div class="Section3-ProductCard-homePage">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" />
            <h2>Perfect For Groups</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section3-Line-homePage">
            <p>
                Quam eu proin sit massa
                condimentum. Volutpat non pulvinar
                aliquet nunc. Orci elementum in
                aliquet a gravida vivamus aliquam
                turpis vitae.
            </p>
            <a asp-controller="Takeout" asp-action="index">
                <span style="color:black;">
                    VIEW TAKEOUT MENU
                </span>
            </a>
        </div>
        <div class="Section3-ProductCard-homePage">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev-1.png" />
            <h2>Fresh produce everyday</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section3-Line-homePage">
            <p>
                Hendrerit amet, volutpat leo non,
                commodo maecenas scelerisque
                tincidunt. Morbi vulputate morbi
                purus quisque sit sagittis orci
                elementum gravida.
            </p>
            <a asp-controller="History" asp-action="index">
                <span style="color:black;">
                    LEARN MORE ABOUT US
                </span>
            </a>
        </div>
    </div>
</section>
<!-- Section 3 End -->
<!-- Section 4 Start -->

<section>
    <div class="Section4-ForFlex-homePage">

        <a asp-controller="Menu" asp-action="index">
            <div class="Section4-ImageSide-homePage">
                <img style="position: absolute; object-fit: cover;" width="809" height="856" src="~/img/@Model.TheBestTableInTown.ImageUrl" alt="">
            </div>
        </a>

        <div class="Section4-TextSide-homePage">
            <div class="Section4-LineAndText-homePage">
                <div class="Section4-Vl-homePage"></div>
                <div class="Section4-Text-homePage">
                    <span>@Model.TheBestTableInTown.Header</span>
                </div>
            </div>
            <div class="Section4-ForMarginText-homePage">
                <div class="Section4-TableTown-homePage">
                    <span>
                        @Model.TheBestTableInTown.Description1
                    </span>
                </div>
                <div class="Section4-Text1-homePage">
                    <span>
                        @Model.TheBestTableInTown.Description2
                    </span>
                </div>
                <a asp-controller="Menu" asp-action="index">
                    <div class="Section4-Button-homePage">
                        <span>@Model.TheBestTableInTown.ButtonName</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Section 4 End -->
<!-- Section 5 Start -->
<section style="margin-top: 71%; ">
    <div class="Section5-Title-homePage">
        <i>What critics are saying about us</i>
        <center><hr class="Section5-TextUnderline-homePage"></center>
    </div>
    <div style="margin-left: 10%; margin-right: 10%; background-color: black; width: 1096px; height: 775px; margin-top: 60px;" class="Section5-ImageSide-homePage">
        <a asp-controller="History" asp-action="index">
            <img style=" object-fit: cover;" width="570" height="775" src="~/img/@Model.NewYorkTimes.ImageUrl" alt="">
        </a>
        <div class="Section5-TextSide-homePage">
            <div class="Section5-TextSide-Name-homePage">
                <span>@Model.NewYorkTimes.Name</span>
            </div>
            <div class="Section5-TextSide-CityName-homePage">
                <span>@Model.NewYorkTimes.Header</span>
            </div>
            <div class="Section5-TextSide-Stars-homePage">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="Section5-TextSide-Line-homePage"></div>
            <div class="Section5-TextSide-Desciription-homePage">
                <span>

                    @Model.NewYorkTimes.Description
                </span>
            </div>
            <a asp-controller="History" asp-action="index">
                <div class="Section5-TextSide-ButtonBorder-homePage">
                    <span>
                        @Model.NewYorkTimes.ButtonName
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- Section 5 End -->
<!-- Section 6 Start -->
<section>
    <div style="flex-wrap:wrap" class="Section6-ForFlex-homePage">
        @foreach (var item in Model.guardianGlobes)
        {
            <div style="margin-bottom:20px" class="Section6-FirstSide-homePage">
                <a asp-controller="History" asp-action="index">
                    <img style=" object-fit: cover;" src="~/img/@item.ImageUrl" alt="">
                </a>
                <div class="Section6-FirstSide-ForAbsolute-homePage">
                    <div class="Section6-FirstSide-Name-homePage">
                        <span>
                            @item.Name
                        </span>
                    </div>
                    <div class="Section6-FirstSide-Profeccion-homePage">
                        <span>@item.profession</span>
                    </div>
                    <div class="Section6-FirstSide-Stars-homePage">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="Section6-FirstSide-Line-homePage"></div>
                    <div class="Section6-FirstSide-Desciription-homePage">
                        <span>
                            @item.Description
                        </span>
                    </div>
                    <a asp-controller="History" asp-action="index">

                        <div class="Section6-FirstSide-ButtonBorder-homePage">
                            <span>
                                @item.ButtonName
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        }

    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    <div style="margin-top: 80px;" class="Section7-homePage">
        <a href="https://localhost:44306/Menu/ProductDetail/12">
            <img style="object-fit: cover;" width="1349" height="482" src="~/img/@Model.kungPao.ImageUrl" alt="">
            <span>@Model.kungPao.Name</span>
        </a>
    </div>

</section>
<!-- Section 7 End -->
<!-- Section 8 Start -->
<section>
    <div class="Section8-Header-homePage">
        <i>Latest news & promotions</i>
        <hr class="Section8-Line-homePage">
    </div>
    <div class="Section2-ForFlex-Bulletin" style="margin-top:-15px;">
        @foreach (var item in Model.bulletins)
        {
            <div class="Section2-PorductCard-Bulletin">
                <a href=""><img src="~/img/@item.ImageUrl" alt=""></a>
                <div class="Section2-ProductCard-BackSide-Bulletin">
                    <a href=""><i class="fa-solid fa-link"></i></a>
                    <a href=""><span>@item.Name</span></a>
                    <a href=""><i class="Section2-ProductCard-BackSide-News-Bulletin">News</i></a>
                </div>
                <div class="Section2-PorductCard-UnderSide-Bulletin">
                    <span>@item.Name</span>
                    <p>
                        By admin|January 7th, 2020|Categories: News

                    </p>
                </div>
            </div>
        }
    </div>

</section>
<!-- Section 8 End -->
<!-- Section 9 Start -->
<section>
    <div class="Section9-Backround-homePage">
        <a asp-controller="Takeout" asp-action="index">
            <img width="809.39" height="805.44" src="~/img/@Model.takeoutNowAvailables.ImageUrl" alt="">
        </a>
        <div class="Section9-TextSide-homePage">
            <div class="Section9-LineAndTextFlex-homePage">
                <hr class="Section9-Line-homePage">
                <span class="Section9-LineAndTextFlex-Text-homePage">
                    @Model.takeoutNowAvailables.Header
                </span>
            </div>
            <div class="Section9-DescriptionAndTitle-homePage">
                <span class="Section9-Title-homePage">
                    @Model.takeoutNowAvailables.Description1
                </span>
                <span class="Section9-Description-homePage">
                    @Model.takeoutNowAvailables.Description2


                </span>
                <a asp-controller="Takeout" asp-action="index">
                    <div class="Section9-CarAndButton-homePage">
                        <i class="fa-solid fa-car"></i>
                        <span>
                            @Model.takeoutNowAvailables.ButtonName
                        </span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- Section 9 End -->
<!-- Section 10 Start -->
<section style="margin-left: 6%; margin-right: 6%;">
    <div class="Section10-ForFlex-homePage">
        <div class="Section10-FirstSide-homePage">
            <h3>HORS D’OEUVRES</h3>
            @foreach (var item in Model.products)
            {
                if (item.CategoryId == 1)
                {
                    if (item.ForTake == 1)
                    {
                        <div class="Section10-TitleCostAndDecription-homePage">
                            <div class="Section10-CostAndTitle-homePage">
                                <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id"><span>@item.Name</span></a>
                                <h6>$@item.Price</h6>
                            </div>
                            <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">
                                <span class="Section10-Description-homePage">
                                    @item.HomeSideDescription
                                </span>
                            </a>
                        </div>
                    }
                }
            }

        </div>
        <div class="Section10-SecoundSide-homePage">
            <img width="398" height="905.55" style="position: absolute; opacity: 0.3;object-fit: cover;" src="~/img/misc22x.jpg" alt="">
            <div class="Section10-SecoundSide-Add-homePage" style="position: absolute;">
                <h3>Main Course</h3>
                @foreach (var item in Model.products)
                {
                    if (item.CategoryId == 2)
                    {
                        if (item.ForTake == 1)
                        {
                            <div class="Section10-SecoundSide-TitleCostAndDecription-homePage">
                                <div class="Section10-SecoundSide-CostAndTitle-homePage">
                                    <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id"><span>@item.Name</span></a>
                                    <h6>$@item.Price</h6>
                                </div>
                                <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">
                                    <span class="Section10-SecoundSide-Description-homePage">
                                        @item.HomeSideDescription
                                    </span>
                                </a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="Section10-3Side-homePage">
            <h3>DESSERTS</h3>
            @foreach (var item in Model.products)
            {
                if (item.CategoryId == 3)
                {
                    if (item.ForTake == 1)
                    {
                        <div class="Section10-TitleCostAndDecription-homePage">
                            <div class="Section10-CostAndTitle-3-homePage">
                                <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id"><span style="font-size:29px;">@item.Name</span></a>
                                <h6>$@item.Price</h6>
                            </div>
                            <a asp-controller="Menu" asp-action="ProductDetail" asp-route-id="@item.Id">
                                <span class="Section10-Description-homePage" style="font-size:17px;">
                                    @item.HomeSideDescription

                                </span>
                            </a>
                        </div>
                    }
                }
            }

        </div>
    </div>
</section>
<!-- Section 10 End -->
<!-- Section 11 Start -->
<section>
    <div class="Section11-homePage">
        <a href="https://localhost:44306/Menu/ProductDetail/10">
            <img style="position: absolute;" width="100%" height="794.97" style="object-fit: cover;" src="~/img/@Model.braisedAbalone.ImageUrl" alt="">
        </a>
        <div class="Section11-Backround-homePage">
            <div class="Section11-NameAndCostFlex-homePage">
                <h2>
                    @Model.braisedAbalone.Header
                </h2>
                <h6>
                    $@Model.braisedAbalone.Cost
                </h6>
            </div>
            <hr style="color: white;" class="Section11-Line-homePage">
            <div style="margin-bottom: 45px;">
                <span class="Section11-Description-homePage">
                    @Model.braisedAbalone.Description
                </span>
            </div>
            <div class="Section11-Border-homePage">

                <a asp-controller="Takeout" asp-action="index">
                    <span>@Model.braisedAbalone.ButtonName</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Section 11 End -->

@section Scripts{



    <script>
        let popup1 = document.getElementById("popup1");
        setTimeout(() => {
            popup1.remove();
        }, 5000)

        function porupRemove() {
            let popup12 = document.getElementById("popup1");
            popup12.remove();
        }

    </script>


}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .popup {
        width: 350px;
        height: 280px;
        padding: 30px 20px;
        background: #f5f5f5;
        border-radius: 10px;
        z-index: 2;
        text-align: center;
        opacity: 1;
        /* top: -200%;
         transform: translate(-50%,-50%) scale(0.5);
         transition: opacity 300ms ease-in-out,top 1000ms ease-in-out,transform 1000ms ease-in-out;
    */
    }

        /*.popup.active{
                 opacity: 1;
                 top: 50%;
                 transform: translate(-50%,-50%) scale(1);
                 transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
             }*/

        .popup .icon {
            margin: 5px 0;
            width: 50px;
            height: 50px;
            border: 2px solid #34f234;
            text-align: center;
            display: inline-block;
            line-height: 60px;
            border-radius: 50%;
        }

            .popup .icon i.fa {
                font-size: 30px;
                color: #34f234;
            }

        .popup .title {
            margin: 5px 0px;
            font-size: 30px;
            font-weight: 600;
        }

        .popup .description {
            padding: 5px;
            font-size: 15px;
            color: #222;
        }

        .popup .dismiss-btn {
            margin-top: 15px;
        }

            .popup .dismiss-btn button {
                padding: 10px 20px;
                background: #111;
                color: #f5f5f5;
                border: 2px solid #111;
                font-size: 16px;
                font-weight: 600;
                outline: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }

                .popup .dismiss-btn button:hover {
                    color: #111;
                    background: #f5f5f5;
                }



    /* KEYFRAMES */

</style>




    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut(1500);
        });
    </script>
