@using AvadaRestaurantFinal.ViewModels
@model ReceptionBarVM
@{
    ViewData["Title"] = "Index";
}
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>

</div>
<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-ReceptionBar">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/@Model.receptionBarHeader.ImageUrl" alt="">
    </div>
    <div class="Section1-TextSide-ReceptionBar">
        <h6>@Model.receptionBarHeader.Header</h6>
        <h1>@Model.receptionBarHeader.Name</h1>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section style="background-color: black; width: 100%; height: 458.78px;">
    <div class="Section2-ForFlex-ReceptionBar" style="flex-wrap:wrap;">
        @foreach (var item in Model.FineDiningProfesionnal)
        {
            <div class="Section2-TextSide-ReceptionBar">
                <h6>@item.Name</h6>
                <p>
                    @item.Description
                </p>
            </div>
        }

    </div>
</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->
<section>
    <div class="Section3-ForFlexAndBackround-ReceptionBar">
        <div class="Section3-ImageSide-ReceptionBar">
            <a asp-controller="Reservations" asp-action="index">
                <img src="~/img/@Model.planYourReception.ImageUrl" alt="">
            </a>
        </div>
        <div class="Section3-TextSide-ReceptionBar">
            <div class="Section3-LineAndText-ReceptionBar">
                <div style="margin-right: 30px;" class="Section3-LineAndText-Line-ReceptionBar"></div>
                <h6>@Model.planYourReception.Header</h6>
            </div>
            <div class="Section3-TextSide-ForMargin-ReceptionBar">
                <h2>
                    @Model.planYourReception.Name
                </h2>
                <p>
                    @Model.planYourReception.Description
                </p>
                <a asp-controller="Reservations" asp-action="index">
                    <div class="Section3-Border-ReceptionBar">
                        <span>@Model.planYourReception.BorderButton</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Section 3 End -->
<!-- Section 4 Start -->
<section>
    <div class="Section4-ForFlex-ReceptionBar">
        <div class="Section4-ProductCard-ReceptionBar">
            <img width="96" height="96" src="https://img.icons8.com/fluency-systems-regular/96/000000/sushi.png" />
            <h2>The best table in town</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-ReceptionBar">
            <p>
                Sed aenean egestas ut aliquam
                turpis mauris, molestie. Vitae tellus
                tempor sem id tempus neque, tellus
                turpis turpis. Morbi tortor id gravida
                aliquet.
            </p>
            <a style="color:black;" asp-controller="Menu" asp-action="index">
                <span>
                    EXPLORE THE MENU
                </span>
            </a>
        </div>
        <div class="Section4-ProductCard-ReceptionBar">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" />
            <h2>Perfect For Groups</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-ReceptionBar">
            <p>
                Quam eu proin sit massa
                condimentum. Volutpat non pulvinar
                aliquet nunc. Orci elementum in
                aliquet a gravida vivamus aliquam
                turpis vitae.
            </p>
            <a style="color:black;" asp-controller="Takeout" asp-action="index">
                <span>
                    VIEW TAKEOUT MENU
                </span>
            </a>
        </div>
        <div class="Section4-ProductCard-ReceptionBar">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev-1.png" />
            <h2>Fresh produce everyday</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-ReceptionBar">
            <p>
                Hendrerit amet, volutpat leo non,
                commodo maecenas scelerisque
                tincidunt. Morbi vulputate morbi
                purus quisque sit sagittis orci
                elementum gravida.
            </p>
            <a style="color:black;" asp-controller="History" asp-action="index">
                <span>
                    LEARN MORE ABOUT US
                </span>
            </a>
        </div>
    </div>
</section>
<!-- Section 4 End -->
<!-- Section 5 Start -->
<section>
    <div class="Section5-Backround-ReceptionBar">
        <div class="Section5-TextSide-ReceptionBar">
            <div class="Section5-TextAndLine-ForFlex-ReceptionBar">
                <h6>@Model.bestCocktailsInTown.Header</h6>
            </div>
            <h2>
                @Model.bestCocktailsInTown.Name
            </h2>
            <p>
                @Model.bestCocktailsInTown.Description
            </p>
            <a asp-controller="Menu" asp-action="index">
                <span>@Model.bestCocktailsInTown.ButtonName</span>
            </a>
        </div>
        <a href="https://localhost:44306/Menu/ProductDetail/27">
            <img src="~/img/@Model.bestCocktailsInTown.ImageUrl" alt="">
        </a>
    </div>
</section>
<!-- Section 5 End -->
<!-- Section 6 Start -->
<section>
    <div class="Section6-Backround-ReceptionBar">
        <p style="font: size 15px;font-family: 'Lora', serif;color:white;font-weight: bolder;margin-bottom: -2px;">
            @Model.perfectPlaceForAReception.Header
        </p>
        <p style="white-space: pre-line;font-size: 19px;font-family: 'Lora', serif;color: #D6D6D6; margin-bottom: 50px;">
            @Model.perfectPlaceForAReception.Description
        </p>
        <a asp-controller="Reservations" asp-action="index">
            <span>
                @Model.perfectPlaceForAReception.ButtonBorder
            </span>
        </a>
    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    <a href="https://localhost:44306/Menu/ProductDetail/24">
        <div class="Section7-ReceptionBar">
            <img src="~/img/@Model.ReceptionBarEndSection.ImageUrl" alt="">
            <div class="Section7-TextSide-ReceptionBar">
                <span>@Model.ReceptionBarEndSection.Name</span>
            </div>
        </div>
    </a>
</section>
<!-- Section 7 End -->
