@using AvadaRestaurantFinal.ViewModels
@model HistoryVM
@{
    ViewData["Title"] = "Index";
}

<!-- Section 1 Start    -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-HistoryPage">
        <img src="~/img/@Model.historyHeader.ImageUrl" alt="">
    </div>
    <div class="Section1-TextSide-HistoryPage">
        <h6>@Model.historyHeader.Header</h6>
        <h1>@Model.historyHeader.Name</h1>
    </div>
</section>
<!-- Section 1 End    -->
<!-- Section 2 Start    -->
<section>
    <div class="Section2-ForFlex-HistoryPage">
        <div class="Section2-ImageSide-HistoryPage">
            <img src="~/img/@Model.PullUpAChair.ImageUrl" alt="">
            <span>@Model.PullUpAChair.ImageUrlText</span>
        </div>
        <div class="Section2-TextSide-HistoryPage">
            <p>
                @Model.PullUpAChair.Description1
            </p>
            <div style="margin-top: -40px; margin-bottom: 20px;">
                <h2 style="text-transform: uppercase;">
                    @Model.PullUpAChair.Description2
                </h2>
            </div>
            <span>
                @Model.PullUpAChair.Description3
            </span>
            <img src="~/img/@Model.PullUpAChair.SicnatureImageUrl" alt="">
        </div>
    </div>
</section>
<!-- Section 2 End    -->
<!-- Section 3 Start    -->
<section>
    <div class="Section3-ForFlexAndBackround-HistoryPage">
        <div class="Section3-ImageSide-HistoryPage">
            <img src="~/img/slider52x.jpg" alt="">
        </div>
        <div class="Section3-TextSide-HistoryPage">
            <div class="Section3-LineAndText-HistoryPage">
                <div style="margin-right: 30px;" class="Section3-LineAndText-Line-HistoryPage"></div>
                <h6>@Model.fineDiningExperience.Header</h6>
            </div>
            <div class="Section3-TextSide-ForMargin-HistoryPage">
                <h2>
                    Fine
                    Dining
                    experience
                </h2>
                <p>
                    @Model.fineDiningExperience.Description
                </p>
                <div class="Section3-Border-HistoryPage">
                    <span>EXPLORE THE MENU</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 3 End    -->
<!-- Section 4 Start    -->
<section>
    <div class="Section4-ForFlex-HistoryPage">
        <div class="Section4-ProductCard-HistoryPage">
            <img width="96" height="96" src="https://img.icons8.com/fluency-systems-regular/96/000000/sushi.png" />
            <h2>The best table in town</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-HistoryPage">
            <p>
                Sed aenean egestas ut aliquam
                turpis mauris, molestie. Vitae tellus
                tempor sem id tempus neque, tellus
                turpis turpis. Morbi tortor id gravida
                aliquet.
            </p>
            <span>
                EXPLORE THE MENU
            </span>
        </div>
        <div class="Section4-ProductCard-HistoryPage">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" />
            <h2>Perfect For Groups</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-HistoryPage">
            <p>
                Quam eu proin sit massa
                condimentum. Volutpat non pulvinar
                aliquet nunc. Orci elementum in
                aliquet a gravida vivamus aliquam
                turpis vitae.
            </p>
            <span>
                BUY AVADA TODAY
            </span>
        </div>
        <div class="Section4-ProductCard-HistoryPage">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev-1.png" />
            <h2>Fresh produce everyday</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-HistoryPage">
            <p>
                Hendrerit amet, volutpat leo non,
                commodo maecenas scelerisque
                tincidunt. Morbi vulputate morbi
                purus quisque sit sagittis orci
                elementum gravida.
            </p>
            <span>
                LEARN MORE ABOUT US
            </span>
        </div>
    </div>
</section>
<!-- Section 4 End    -->
<!-- Section 5 Start    -->
<section>
    <div class="Section5-BackroundColor-HistoryPage">
        <div class="Section5-ForFlex-HistoryPage">
            <img src="~/img/@Model.takeoutNowAvailableHistory.ImageUrl" alt="">
            <div class="Section5-TextSide-HistoryPage">
                <h6>@Model.takeoutNowAvailableHistory.Header</h6>
                <h3>@Model.takeoutNowAvailableHistory.Name</h3>
                <p>
                    @Model.takeoutNowAvailableHistory.Description
                </p>
                <div class="Section5-Border-HistoryPage">
                    <i class="fa-solid fa-car"></i>
                    <span>@Model.takeoutNowAvailableHistory.ButtonName</span>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Section 5 End    -->
<!-- Section 6 Start -->
<section>
    <div class="Section6-HistoryPage">
        <img src="~/img/@Model.KungPaoChickenHistory.ImageUrl" alt="">
        <div style="display: flex;justify-content:flex-end;margin-right: 10%; padding-top: 90px;">
            <div class="Section6-BackroundColor-HistoryPage">
                <div class="Section6-TextAndCostFlex-HistoryPage">
                    <h3 style="font-size: 70px; color: white; font-family: 'Bebas Neue', cursive;white-space:normal">
                        Kung <br />  
                        Pao <br />
                        Chicken
                    </h3>
                    @*<h6>$32</h6>*@
                </div>
                <div class="Section6-Line-HistoryPage"></div>
                <span>
                    @Model.KungPaoChickenHistory.Description
                </span>
                <p>@Model.KungPaoChickenHistory.ButtonName</p>
            </div>
        </div>
    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    <div class="Section7-Header-HistoryPage">
        <i>Meet the team</i>
        <div class="Section7-Line-HistoryPage"></div>

    </div>
    <div class="Section7-ForFlex-HistoryPage">
        @foreach (var item in Model.MeetTheTeam)
        {
            <div class="Section7-ProductCard-HistoryPage">
                <a href=""><img src="~/img/@item.ImageUrl" alt=""></a>
                <div class="Section7-TextSide-HistoryPage">
                    <h6>@item.profession</h6>
                    <h2>@item.Name</h2>
                    <p>
                        @item.About
                    </p>
                    <span>@item.ButtonName</span>
                </div>
            </div>
        }
        
    </div>
</section>
<!-- Section 7 End -->
